.main-container {
	padding: 20px 0;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-gap: 20px;
}

.guests-container {
	padding: 20px;
	background: #2b2e4a;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	border-radius: 8px;
}

.final-list-container {
	padding: 20px;
	background: #2b2e4a;
	border-radius: 8px;
	text-align: center;
}
